


*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Inter',sans-serif;
}
html, body {
    height:100%;
    direction:rtl;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    background: #f9f7f3;
    color:#222;
}

.header {
    width: 100%;
    background: #d4af37;
    border-bottom: 1px solid #b38b2a;
}

.header-container {
    max-width:1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.logo img {
    width:220px;
    height:60px;
    object-fit: cover;
    border-radius: 8px;
}


.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 12px;
    transition: 0.3s;
}

.navbar a:hover { opacity: 0.8; }



.search-section{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:60px 20px;
}
.search-card{
    background:#fff;
    padding:35px 30px;
    border-radius:20px;
    box-shadow:0 5px 25px rgba(0,0,0,0.15);
    width:400px;
    text-align:center;
}
.search-card h2{
    color:#b38b2a;
    margin-bottom:25px;
    font-size:24px;
}
.search-form{
    display:flex;
    flex-direction:column;
    gap:20px;
}
.search-form label{
    font-weight:700;
    color:#b38b2a;
    text-align:right;
}
.search-form select{
    padding:12px;
    width: 100%;
    max-width: 100%;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:16px;
    background:#fff;
}
.btn-gold{
    padding:14px;
    font-size:18px;
    border:none;
    border-radius:12px;
    background:#d4af37;
    color:#fff;
    font-weight:700;
    cursor:pointer;
    transition:.3s;
}
.btn-gold:hover{background:#b38b2a;}


.footer{
    background:#d4af37;
    padding:20px;
    color:#fff;
    text-align:center;
}
.footer a{
    color:#fff;
    text-decoration:none;
    margin:0 8px;
    font-weight:600;
    transition:0.3s;
}
.footer a:hover{opacity:0.7;}

@media (max-width: 900px) {
    .header-container { flex-direction:column; gap:10px; }
    .navbar ul { flex-direction: column; width:100%; text-align:center; }
    .navbar a { width:100%; padding:10px 0; font-size:20px; }

    .hero { padding: 40px 15px 60px; }
    .hero-content h1 { font-size: 32px; }
    .hero-content p { font-size: 16px; }

}
@media (max-width: 800px) {
    .hero { padding: 30px 10px 50px; }
    .hero-content h1 { font-size: 28px; }
    .hero-content p { font-size: 14px; }
    }




